@charset "utf-8";
/* CSS Document */

.input01 {width:65px}

.sel01 {width:73px}

.textarea01 {height: 153px;  margin-bottom:5px; margin-left:6px;  margin-right: 0;  margin-top:4px;   width: 235px}

.disable{background-color:#d2d2d2}
.select{background-color:#e3efeb}

.bold{font-weight:bold}

.mL_4{margin-left: -4px}
.mL5{margin-left: 5px}
.mL8{margin-left: 8px}
.mL10{margin-left: 10px}
.mL15{margin-left: 15px}
.mL20{margin-left: 20px}
.mL30{margin-left: 30px}
.mL40{margin-left: 40px}
.mL80{margin-left: 80px}
.mL150{margin-left: 150px}

.mR5{margin-right: 5px}
.mR10{margin-right: 10px}
.mR20{margin-right: 20px}
.mR45{margin-right: 45px}
.mR50{margin-right: 50px}

.mT3{margin-top: 3px}
.mT5{margin-top: 5px}
.mT8{margin-top: 8px}
.mT10{margin-top: 10px}
.mT15{margin-top: 15px}
.mT20{margin-top: 20px}

.mB5{margin-bottom:5px}
.mB20{margin-bottom:20px}

.pR5{padding-right:5px}
.pR10{padding-right:10px}
.pR20{padding-right:20px}
.pR30{padding-right:30px}

.pL5 {padding-left:5px}
.pL10 {padding-left:10px}
.pL15 {padding-left:15px}
.pL20 {padding-left:20px}
.pL30 {padding-left:30px}

.pB5{padding-bottom:5px}
.pB10{padding-bottom:10px}

.pT10 {padding-top:10px}
.pT15 {padding-top:15px}
.pT20 {padding-top:20px}

.w50 {width: 50px}
.w150 {width: 150px}
.w160 {width: 160px}
.w180 {width: 180px}
.w250 {width: 250px}
.w300 {width: 300px}
.w495 {width: 495px}
.w500 {width: 500px}

.h10{height:10px}
.h16{height:16px}
.h35{height:35px}

.center{text-align:center  !important }
.left{text-align:left  !important}
.right{float:right; !important}

.inline{display:inline}

.floatR{float:right}
.floatL{float:left}

.red {color: red}
.blue {color: blue}
.green {color: green}
.underline {text-decoration: underline}
.line {text-decoration: line-through}

.noBorder {border: 0px}

.taL {text-align: left}
.taR {text-align: right}