@charset "utf-8";
/* CSS Document */

#wrap {width:950px;font-size:12px; margin:0; padding:0; margin-left:1px; margin-bottom:1px; padding-top: 5px}
.gnb_main {width:auto;background: url("/images/main002.gif") repeat-x; height: 50px}
.gnb_main .mainImg {padding-left: 20px}

.selheader {line-height: 21px; vertical-align: middle}
.head_search_btn {background: url("/images/main004.gif"); margin: 0px; padding: 0px; width: 48px; height: 21px; margin-top: 0px; border: 0px}

.gnb_btns {display: inline; margin-left: 8px; vertical-align: middle}
.gnb_btns li {display: inline; margin: 0 0 0 3px; padding:3px 15px 0 0; background: url("/images/btn/main006.gif") top right no-repeat}
.gnb_btns .no_bar{display: inline; margin: 0px;  background: none}
.head_btn1 {background: url("/images/btn/main005.gif"); margin: 0px; padding: 0px; width: 85px; height: 21px; margin-top: 3px; border: 0px; cursor: pointer}
.head_btn2 {background: url("/images/btn/main007.gif"); margin: 0px; padding: 0px; width: 70px; height: 21px; margin-top: 3px; border: 0px; cursor: pointer}
.head_btn3 {background: url("/images/btn/main008.gif"); margin: 0px; padding: 0px; width: 79px; height: 21px; margin-top: 3px; border: 0px; cursor: pointer}
.head_btn4 {background: url("/images/btn/main009.gif"); margin: 0px; padding: 0px; width: 55px; height: 21px; margin-top: 3px; border: 0px; cursor: pointer}

.snb {width:190px; height:100%; float: left}
.sub_login table {width: 150px; margin: 0px; padding: 0px}
.left_Img1 {margin-bottom:10px}
.logId {display: inline; font-size: 15px; font-weight: bold; font-family: "Dotum"}
.logInput {background: url("/images/main010.gif") no-repeat; width: 65px; height:14px; border: 0px}
.loginBtn {background: url("/images/btn/main013.gif"); width: 62px;height: 39px}

.snb_btns {margin-left: 5px}
.snb_btns li {list-style-type: none; margin-bottom: 5px; padding-bottom: 5px;background: url("/images/main018.gif") no-repeat left bottom;}
.left_btn1 {width: 125px; height: 18px}
.left_btn2 {width: 129px; height: 18px}
.left_btn3 {width: 82px; height: 18px}

.snb_menus {margin-left: 20px;font-size: 13px}
.snb_menus li {margin-bottom: 3px}


