@charset "utf-8";
/* CSS Document */

#wrap {width:950px;font-size:12px; margin:0; padding:0; margin-left:0px; margin-bottom:1px; padding-top: 0px}
.gnb {background: url("/images/top_bg.gif") repeat-x; height: 114px; width:auto}
.gnb_main {padding-top:14px}
.gnb_main .mainImg {background: url("/images/top_logo.gif"); width:152px; height:79px; margin-left: 10px}

.selheader {line-height: 21px; vertical-align: middle}
.head_search_btn {background: url("/images/top_search2.gif"); margin: 0px; padding: 0px; width: 47px; height: 22px; margin-top: 0px}

.gnb_btns {display: inline; margin-left: 8px; vertical-align: middle}
.gnb_btns li {display: inline; margin-left:10px; }

.head_btn1 {background: url("/images/top_icon1.gif"); margin: 0px; padding: 0px; width: 60px; height: 80px; margin-top: 3px}
.head_btn2 {background: url("/images/top_icon2.gif"); margin: 0px; padding: 0px; width: 97px; height: 80px; margin-top: 3px}
.head_btn3 {background: url("/images/top_icon3.gif"); margin: 0px; padding: 0px; width: 70px; height: 80px; margin-top: 3px}
.head_btn4 {background: url("/images/top_icon4.gif"); margin: 0px; padding: 0px; width: 69px; height: 80px; margin-top: 3px}
.head_btn5 {background: url("/images/top_icon5.gif"); margin: 0px; padding: 0px; width: 63px; height: 80px; margin-top: 3px}

.snb {width:190px; height:100%; float: left}

#snb_before_login {background: url("/images/loginbg.gif") no-repeat; padding: 10px 5px 10px 5px; margin: 5px;text-align:center}
.sub_login table {width: 150px; margin: 0px; padding: 0px}
.left_Img1 {margin-bottom:6px}
.logId {display: inline; font-size: 15px; font-weight: bold; font-family: "Dotum"}
.logInput {background: url("/images/main010.gif") no-repeat; width: 65px; height:14px; border: 0px;margin-bottom:2px}
.left_login_btn1 {background: url("/images/login10.gif"); width: 24px;height: 24px}
.left_login_btn2 {background: url("/images/login11.gif"); width: 58px;height: 23px}
.left_login_btn3 {background: url("/images/login12.gif"); width: 75px;height: 23px}

#snb_after_login  {background: url("/images/loginbg.gif") no-repeat; padding: 10px 5px 10px 5px; margin: 5px}

.snb_main {background: url("/images/leftbg.gif") no-repeat; padding: 10px 5px; margin: 5px 5px 0}
.snb_menus {margin: 0 0 10px 20px;font-size: 13px}
.snb_menus li {width: 100px; height: 18px}
.snb_btns {margin-left: 5px}
.snb_btns li {list-style-type: none;padding: 3.5px}
.left_btn1 {background: url("/images/category_menu1.gif"); width: 127px; height: 14px}
.left_btn2 {background: url("/images/category_menu2.gif"); width: 131px; height: 14px}
.left_btn3 {background: url("/images/category_menu3.gif"); width: 62px; height: 13px}
.left_btn4 {background: url("/images/category_menu4.gif"); width: 86px; height: 13px}
.left_btn5 {background: url("/images/category_menu5.gif"); width: 73px; height: 13px}
.left_sub_btn1 {background: url("/images/category_menu5_1.gif"); width: 82px; height: 14px}
.left_sub_btn2 {background: url("/images/category_menu5_2.gif"); width: 90px; height: 13px}
.left_sub_btn3 {background: url("/images/category_menu5_3.gif"); width: 84px; height: 13px}
.left_sub_btn4 {background: url("/images/category_menu5_4.gif"); width: 65px; height: 13px}
.left_sub_btn5 {background: url("/images/category_menu5_5.gif"); width: 78px; height: 13px}
.left_sub_btn6 {background: url("/images/category_menu5_6.gif"); width: 90px; height: 14px}
.left_sub_btn7 {background: url("/images/category_menu5_7.gif"); width: 90px; height: 13px}
.snb_bottom {margin-left: 5px}
.left_guide {background: url("/images/category_guide.gif") no-repeat; width: 160px; height: 126px; margin-bottom: 5px}
.left_cheat {background: url("/images/category_cheat7.gif") no-repeat; width: 160px; height: 143px}

.bottom {margin-left: 185px; width:765px; float: left;vertical-align: bottom}
.bnb_main { height:40px; background: url("/images/main_bottombg.gif") repeat-x}
.bnb_btns {margin-left:20px; vertical-align: middle}
.bnb_btns li {display: inline; margin: 0 0 0 3px; padding:3px 40px 0 0}
.bottom_btn1 {background: url("/images/main_bottom1.gif"); margin: 0px; padding: 0px; width: 55px; height: 16px; margin-top: 12px; border: 0px; cursor: pointer}
.bottom_btn2 {background: url("/images/main_bottom2.gif"); margin: 0px; padding: 0px; width: 55px; height: 16px; margin-top: 12px; border: 0px; cursor: pointer}
.bottom_btn3 {background: url("/images/main_bottom3.gif"); margin: 0px; padding: 0px; width: 109px; height: 16px; margin-top: 12px; border: 0px; cursor: pointer}
.bottom_btn4 {background: url("/images/main_bottom4.gif"); margin: 0px; padding: 0px; width: 94px; height: 16px; margin-top: 12px; border: 0px; cursor: pointer}
.bottom_btn5 {background: url("/images/main_bottom5.gif"); margin: 0px; padding: 0px; width: 53px; height: 16px; margin-top: 12px; border: 0px; cursor: pointer}
.bottom_btn6 {background: url("/images/main_bottom6.gif"); margin: 0px; padding: 0px; width: 68px; height: 16px; margin-top: 12px; border: 0px; cursor: pointer}
.bnb_cont {margin-top:10px; margin-bottom:10px; vertical-align: top}
.bnb_cont .bottom_Img1 {background: url("/images/main_bottom_logo.gif"); float:left; margin-top:10px; width:144px; height:60px; border: 0px; cursor: pointer}
.bnb_cont p {float:left; margin-left:20px}

.content {width: 760px; float: left; margin-top:10px; margin-bottom:10px}

.banner {width:760px;margin: 0 0 10px 10px;float: left}
.index_category {width:760px;margin: 0 0 10px 10px;float: left}
.idx_cate_list {width: 129px; height: 18px;float: left}

.content_banner {float: left}

.content_board {float: right;margin: 3px 20px 0 0;width: 230px}

.content_event {margin-left: 4px;width: 225px}
.content_notice {border: 1px solid silver;margin-left: 5px;width: 225px;height: 95px}

.noti_ul {margin: 15px 0px 0px 25px}
.noti_ul li {list-style: disc; padding-left: -10px;margin-top: 10px}

.content_main {float:left; width: 716px}

.main_category {background: url("/images/main028.gif") no-repeat; width: 716px;height: 190px;margin-bottom: 10px}
.main_attent_text {float: right;padding-top: 2px}
.main_attent {background: url("/images/main030.gif") no-repeat; width: 716px;height: 190px;margin-bottom: 10px}
.main_today_new {background: url("/images/main032.gif") no-repeat; width: 716px;height: 190px;margin-bottom: 10px}

.noti_board {float: left;margin: 3px 3px 10px 3px}
.noti_board p {margin-bottom: 10px}

.board_ul {margin-left: 25px}
.board_ul li {list-style: url(’/images/out_board_dot.gif’); padding-left: -30px; margin: 5px 10px 0 0}

.terms {width: 710px; height: 150px}
.joinAgreeRadio {border: 0px}

.certify_person {float:left; border: 1px solid silver;width:350px; height:105px; background-color: #FAFAFA; margin: 10px 0 15px 0}
.join_table1 {padding: 10px; margin: 12px 10px 10px 10px}
.join_table1 tr {height: 12px}

/* 상품상세페이지 시작. */
.prod_header {float: left; background-color: #F0F0F0; width: 710px; height: 25px; padding: 12px 0 0 10px; margin-left: 5px}

.prod_main {margin-top: 10px; float: left; width: 725px; border-top: 2px green solid; border-bottom: 1px green solid}
.prod_table {float: left; width: 725px; background-color: #F5F9F5}
.prod_table .b_t {border-top: 1px green solid}
.prod_table .b_t_l{border-top: 1px green solid; border-left: 1px green solid}
.prod_table .right_border {border-right: 1px green solid}
.prod_title {padding: 0 10px 0 10px; height: 30px}
.prod_view_noti {background-color: #ABDBAB; width: 715px; height: 60px;margin: 10px 5px}
.prod_view_noti p {margin: 10px 5px 10px 15px}
.prod_view_detail {width: 725px; margin: 10px 15px}

.prod_view_btns {margin:5px 0px 0px 10px; padding-bottom:10px}
.prod_view_btns img {margin-bottom:10px}
.prod_view_btns input {margin-right:3px}
.prod_view_btn1 {background: url("/images/main_salepage_wishlist.gif"); width: 88px; height: 31px}
.prod_view_btn2 {background: url("/images/main_salepage_falseitem.gif"); width: 88px; height: 31px}
.prod_view_btn3 {background: url("/images/main_salepage_securetrade.gif"); width: 158px; height: 31px}

.prod_comment_list {border-top: 1px solid silver; width: 725px}
.prod_comment_list li {border-bottom: 1px solid silver}
.comment_list .comment_header {height: 20px}
.comment_user {float: left; margin: 5px 15px}
.comment_modify {float: right; margin: 5px 15px}
.comment_modify a {padding-left: 5px}
.comments {margin: 10px 10px; min-height: 30px; _height: 30px}
.comments_enter {margin: 20px 0 10px 20px}
/* 상품상세페이지 끝. */

/* 상품 리스트 시작. */
.prod_search {width:710px; height: 65px; border: 1px silver solid; background-color: #F4F4F4; float: left; margin: 5px 5px 10px 5px}
.prod_search div {margin: 9px 10px 0px 10px; float: left}
.prod_search text {margin: 0px; padding: 0px}
.prod_search select {width: 130px; margin-left: 6px}
.prod_search img {margin-right: 15px; float: right; padding-top: 6px}
.prod_search .price {width: 100px}
.prod_search span {margin-left: 18px}
.prod_search .prod_nm {width: 255px}

.search_options {float:left; margin: 10px 5px; background-color: #F3F3F3; width: 710px; height: 30px}

.prod_list {float:left}
.prod_list th {font-size: 13px; color: #6E6E6E; border-bottom: 1px solid black; padding-bottom: 3px}
.prod_list td {border-bottom: 1px solid silver}

.paging {float: left; margin-top: 10px; width: 710px; font: 13px; font-weight:bold; color: #6E6E6E}
.paging a {padding: 4px 5px}
.paging a:HOVER {border: 1px solid silver}
/* 상품 리스트 끝. */

/* 상품 구매 페이지 시작. */
.prod_buy_header {background-color: #F0F0F0; padding: 10px 0 10px 15px; width: 710px; margin: 5px 5px 10px 5px}
.prod_buy {background-color: #F5F9F5; width: 730px; padding-bottom: 5px}
.prod_buy_form {border-top: 2px green solid; margin: 15px 0; width: 730px}
.prod_buy_form table {width: 670px; margin: 10px 30px}
.prod_buy_form .prod_buy_info_table {width:100%; height:100%; margin:0px;}
.prod_buy_form .title {border-bottom: 1px green solid; padding: 10px 0 10px 15px}
.prod_buy_form .input150 {width: 150px}
.prod_buy_form .input100 {width: 100px}
.prod_buy_form .input250 {width: 250px}
.prod_buy_form .input350 {width: 350px}
.prod_buy_form .input450 {width: 450px}
.prod_buy_form td {padding: 2px}
.prod_buy_form_result {margin: 15px 0; border-top: 1px green solid}
.prod_buy_form_result table {width: 710px; margin: 10px 30px}
/* 상품 구매 페이지 끝. */

/* 상품 등록 페이지 시작. */
.prod_entry_header {background-color: #F0F0F0; padding: 10px 0 10px 15px; width: 700px; margin: 5px 5px 10px 5px}
.prod_entry {margin: 15px 0; width: 715px}
.prod_category_table {width: 720px; border: 7px solid orange}
.prod_category_table td {border-right: 7px solid orange}
.prod_category {overflow-x: hidden; overflow-y: scroll; width: 100%; height: 90px; border: 1px red solid}
.prod_category li {padding-left: 5px}
.prod_category li:HOVER {border: 1px dotted; cursor: pointer}
.prod_entry_contents {margin: 5px 0 15px 0; width: 720px; border-top: 2px green solid; border-bottom: 1px green solid; background-color: #F5F9F5}
.prod_entry_contents table {width: 700px; margin: 10px 30px}
.prod_entry_contents table td {padding: 3px}
.fee_preview {border: 1px solid silver; background-color: #F0F0F0; padding: 2px 5px; cursor: pointer}

.prod_entry_detail {float: left; margin: 5px 0 10px 0; width: 715px; border-top: 2px green solid; border-bottom: 1px green solid; background-color: #F9F9F9}
.prod_entry_detail ul {float: left; width: 400px}
.prod_entry_detail li {padding: 5px; height: 80px}
.entry_no_image_large {width: 250px; height: 250px}
.entry_no_image_small {width: 50px; height: 50px}

.fee_preview_layer .fee_select {margin: 5px 0 10px 0; width: 470px}
.fee_preview_layer .fee_select  th {background-color: #F7F7F7; padding: 8px; border-top: 1px solid silver; border-bottom: 1px solid silver; border-right: 1px solid silver; font-weight: normal}
.fee_preview_layer .fee_info {border: 1px solid silver; margin-bottom: 5px; width: 420px}
.fee_preview_layer .fee_info th {background-color: #F9F9F9; padding: 6px; border-top: 1px solid silver; border-bottom: 1px solid silver; border-right: 1px solid silver; font-weight: normal}
.fee_preview_layer td {padding: 0 8px; border-top: 1px solid silver; border-bottom: 1px solid silver; text-align: left}
.fee_preview_layer .fee_info td {border-right: 1px solid silver}
.fee_preview_layer .fee_info td p {padding: 2px}
/* 상품 등록 페이지 끝. */

/* 회원가입 페이지 시작. */
.join_form {margin: 5px 0; border-top: 2px solid silver; width: 720px}
.join_form table {margin: 10px 15px; width: 680px}
.join_form table td {padding: 5px; border-bottom: 1px dotted silver}
.join_form table .noborder {padding: 5px; border-bottom: 0}
/* 회원가입 페이지 끝. */

/* 파일 업로드 관련 css. */
.file_input_textbox {float: left; width: 200px; margin-bottom: 5px}
.file_input_dev {position: relative; height: 23px; overflow: hidden}
.file_input_button {width: 100px; height:20px; position: absolute; top: -1px; background-color: #33BB00; color: #FFFFFF; border-style: solid; cursor: pointer}
.file_input_button2 {height:20px; position: absolute; top: -1px; background-color: silver; color: #FFFFFF; border-style: solid; cursor: pointer}
.file_input_hidden {width: 100px; height: 18px; font-size: 45px; position: absolute; right: 0px; top: 0px; opacity: 0; filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity:0; -moz-opacity:0; cursor: pointer; margin: 15px 15px 0 0}
.file_input_hidden2 {width: 107px; font-size: 45px; position: absolute; right: 0px; top: 0px; opacity: 0; filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity:0; -moz-opacity:0; cursor: pointer}
/* 파일 업로드 관련 css. */

/* Modal Dialog css. */
/* html, body{height:100%;margin:0} */
.mw{position:fixed;_position:absolute;top:0;left:0;width:100%;height:100%}
.mw .bg{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50)}
.mw .fg{position:absolute;top:50%;left:50%;width:480px;height:330px;margin:-170px 0 0 -250px;padding:2px;border:3px solid #ccc;background:#fff}
/* Modal Dialog css. */

/* block scroll css. */
.stop-scrolling {height: 100%; overflow: hidden}
/* block scroll css. */
